   p  { 
 color:    lime ; 
 font-size:  66px; 
       } 
                       @import url("cztery_pierwsze_litery_nazwiska_z5_1.css "); 
                         /*  Hordiienko Z5_1html  16.01.2026  */ 